*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #d6d6d6;
}

.container{
    width: 80%;
    margin: auto;
    padding: 20px;
}

.head{
    text-align: center;
    margin-bottom: 30px;
}
.head h1{
    font-size: 3em;
}
.head p{
    font-size: 1.2em;
    color: #a0a0a0;
}

input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #303030;
    margin: 4px 0;
    padding: 4px;
    border-radius: 5px;
    color: #e9e9e9;
    font-weight: bold;
}

input:focus{
    box-shadow: 0 0 5px #555;
    transform: scale(1.1);
}

.price input{
    width: 20%;
    margin: 0 2px;
}

#total{
    background-color: #a00d02;
    padding: 4px;
    border-radius: 4px;
}

#total::before{
    content: "Total:";
}

button{
    width: 100%;
    height: 30px;
    background-color: #555555;
    color: #dfdfdf;
    border: none;
    border-radius: 5px;
    margin: 4px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchButtons button{
    width: 45%;
}
.searchButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button:hover{
    background-color: #8d8d8d;
    color: #e9e9e9;
    letter-spacing: 2px;
    transform: scale(1.02);
}

table{
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
